<form method="POST">
    <span>ID do criador</span>
    <input id="jo" type="text">
    <input id="report" type="submit">
</form>

<script>
    document.getElementById("report").onclick = function (event) {
        event.preventDefault();
        var ajax = new XMLHttpRequest();

        var sete = document.getElementById("jo").value;

        ajax.onreadystatechange = function () {

            if (ajax.readyState == 4 && ajax.status == 200) {
                console.log(ajax.responseText);

                let json = JSON.parse(ajax.responseText);

                for (let idjogo in json) {

                    document.getElementById("link").innerHTML = json[idjogo].nomej;
                    document.getElementById("link").href = 'telajogo.php?idjogo= ' + idjogo;
                    document.getElementById("td2").innerHTML = json[idjogo].descricao;
                    document.getElementById("td3").innerHTML = json[idjogo].link;
                    document.getElementById("img").src = 'data:image/jpeg;base64, ' + json[idjogo].img;

                }
                return;
            }
        }
        ajax.open("POST", "sete.php");
        ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        ajax.send("sete=" + sete);
    }

</script>