<form method="POST">
  <span>Filtrar por:</span>
  <select id='select' name='cat'>
    <option id='td' value='td'>Todos</option>
    <option id='ave' value='ave'>Aventura</option>
    <option id='ac' value='ac'>Ação</option>
    <option id='mb' value='mb'>Moba</option>
    <option id='rpg' value='rpg'>RPG</option>
    <option id='crd' value='crd'>Corrida</option>
    <option id='so' value='so'>Sobrevivencia</option>
    <option id='fp' value='fp'>FPS</option>
    <span>Pesquisa</span>
    <input id="srr" type="text">
  </select>
</form>

<table>
  <thead>
    <td>Nome |</td>
    <td>Descrição |</td>
    <td>Link |</td>
    <td>Imagem |</td>
  </thead>

  <tbody>
    <tr>
      <td id="td1"><a id='link' href=''></a></td>
      <td id="td2"> </td>
      <td id="td3"> </td>
      <td id="td4"> <img id='img' src='' height='20px' width='20'></td>
    </tr>
  </tbody>
</table>

<button class="erro">Erro</button>
<span id="ero"></span>
<div id="div" style="display: none;">
  <form method="POST">
    <textarea placeholder="Informe o erro" id="area" name="message" rows="10" cols="30"></textarea></br>
    <input id="report" type="submit">
    <button class="erro">X</button>
  </form>
</div>

<script>

  document.getElementById("srr").onkeyup = function () {

    var ajax = new XMLHttpRequest();

    var srr = document.getElementById("srr").value;

    ajax.onreadystatechange = function () {

      if (ajax.readyState == 4 && ajax.status == 200) {

        let json = JSON.parse(ajax.responseText);

        for (let idjogo in json) {

          document.getElementById("link").innerHTML = json[idjogo].nomej;
          document.getElementById("link").href = 'telajogo.php?idjogo= ' + idjogo;
          document.getElementById("td2").innerHTML = json[idjogo].descricao;
          document.getElementById("td3").innerHTML = json[idjogo].link;
          document.getElementById("img").src = 'data:image/jpeg;base64, ' + json[idjogo].img;

        }
        return;
      }
    }
    ajax.open("POST", "php/search.php");
    ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    ajax.send("srr=" + srr);
  }

  document.getElementById("select").onchange = function () {

    var ajax = new XMLHttpRequest();

    var cate = document.getElementById("select").value;
    // var oi = "oi";
    ajax.onreadystatechange = function () {

      if (ajax.readyState == 4 && ajax.status == 200) {

        let json = JSON.parse(ajax.responseText);

        for (let idjogo in json) {

          document.getElementById("link").innerHTML = json[idjogo].nomej;
          document.getElementById("link").href = 'telajogo.php?idjogo= ' + idjogo;
          document.getElementById("td2").innerHTML = json[idjogo].descricao;
          document.getElementById("td3").innerHTML = json[idjogo].link;
          document.getElementById("img").src = 'data:image/jpeg;base64, ' + json[idjogo].img;

        }
        return;
      }
    }

    ajax.open("POST", "php/mostrajogo.php");
    ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    ajax.send("cate=" + cate);

  }

  document.querySelector(".erro").onclick = function () {
    var div = document.getElementById("div");

    if (div.style.display == "none") {
      div = div.style.display = "block";
    } else if (div.style.display == "block") {
      div.style.display = "none";
    }
  }

  document.getElementById("report").onclick = function (event) {
    event.preventDefault();

    var ajax = new XMLHttpRequest();
    var texto = document.getElementById("area").value;
    if (document.getElementById("area").value.length > 0) {
      ajax.onreadystatechange = function () {
        if (ajax.readyState == 4 && ajax.status == 200) {
          let json = JSON.parse(ajax.responseText);

          if (json.foi == "s") {
            document.getElementById("div").style.display = "none";
            document.getElementById("ero").innerHTML = "";
          } else {
            document.getElementById("ero").innerHTML = "Erro ao receber";
          }
        }
      }
      ajax.open("POST", "php/erro.php");
      ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      ajax.send("texto=" + texto);
    }
  }

</script>